pip
streamlit
numpy
matplotlib
panel>=1.4.1
bokeh
param
pyvista
stpyvista>=0.1.4
geovista
colorcet
requests
cmocean>=4.0.3
nest_asyncio
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify
