pip
streamlit>=1.33.0
numpy
matplotlib
panel>=1.4.1
bokeh
param
pyvista
stpyvista>=0.0.18
geovista
colorcet
requests
cmocean>=4.0.3
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify